body{
    padding: 0;
    margin: 0;
    background: white;
    /*background: url(img-assets/pexels-cristiano-silva-13017023.jpg);*/
    scroll-behavior: smooth;
    background-size: 120%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 1.4rem;
}

header h1{
    color: #8b4513;
    text-decoration: underline;
    text-transform: uppercase;
}

.logo{
    width: 20rem;
    height: 19.5rem;
    margin-bottom: -7.5rem;
    margin-top: -5rem;
    margin-left: 0rem;
}



nav{
    padding-top: 2rem;
    padding-bottom: 10rem;
}

nav ul{
    position: relative;
    display: flex;
    gap: 6rem;
    justify-content: center;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    font-family: Helvetica;
    text-decoration: none;
    font-size: 1.1em;
    color: #8b4513;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

nav ul li a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 2rem;
    height: 2px;
    background: #333;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

nav ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

/* Hero Section*/

.hero{
    height: 300px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-bottom: 1rem;

}

.hero img{
    width: 90%;
    height: 350px;
    border-radius: 3rem;
    filter:saturate(200%);
}

.hero-text h1{
    font-size: 3rem;
    margin-bottom: 8px;
    color: #8b4513;
    font-family: 'Lucida Sans Unicode';
}

.hero-text p{
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: lighter;
    font-style: italic;
}

.hero-text button{
    border: 1px solid #8b4513;
    background: #8b4513;
    padding: 10px 20px;
    font-size: 17px;
    font-family: 'Lucida Sans Unicode';
    cursor: pointer;
    margin: 10px;
    border-radius: 1rem;
    transition: 1.3s ease-in-out;
}



.hero-text button:hover{
    background: none;
    transition: 1.3s ease-in-out;
}

/* Product Section*/

.container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 2rem;
    padding-top: 13rem;
    padding-bottom: 7.5rem;
 }

 
 
 .container .title{
    font-size: 3.5rem;
    color: black;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 5rem;
    font-family:'Lucida Sans Unicode';
 }
 
 .container .products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2rem;
    justify-content: center;
    margin-left: 3.5rem;

 }
 
 .container .products-container .product{
    text-align: center;
    padding: 0.75rem 0.5rem;
    background: rgba(128, 128, 128, 0.072);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline-offset: -1.5rem;
    cursor: pointer;
    border-radius: 1rem;
    width: fit-content;
    transition: 1.4s ease-in-out;
    border: solid 1px rgba(128, 128, 128, 0.048);
}

.container .products-container .product:hover{
    outline: .2rem ;
    outline-offset: 0;
    transition: 0.7s ease-in-out;
    border-radius: 2.5rem;
    background-color: #8b4513;
}

.container .products-container .product img{
    height: 13rem;
    width: 16.5rem;
    border-radius: 2rem;
    transition: 0.7s ease-in-out;
    border: 1px solid #8b4513;
}


 
 .container .products-container .product:hover img{
    transform: scale(.9);
    transition: 0.7s ease-in-out;
 }
 
 .container .products-container .product h3{
    padding:.5rem 0;
    font-size: 2rem;
    color: black;
    font-family:'Lucida Sans Unicode';
 }
 
 .container .products-container .product:hover h3{
    color:white;
 }

 .product p{
    color: rgb(8, 80, 80);
    font-family:'Lucida Sans Unicode';
    font-size: 0.6rem;

 }

 .product p:hover{
    color: rgb(239, 239, 239);
 }
 
 .container .products-container .product .price{
    font-size: 2rem;
    color: black;
    font-family:'Lucida Sans Unicode';
 }

 .price-btn{
    width:100px;
    height: 50px;
    border: 1px solid #db803e;
    border-radius: 2rem;
    background: #db803e;
    transition: 1.5s;
    font-size:small;
    font-weight: bolder;
 }

 .container .products-container .product .price .price-btn:hover{
    background: white;
    color: black;
    border: none;
    border-radius: 2rem;
    transform:scale(90%);
    transition: 1.5s;
}

/* Cart*/

.prod-cart{
    margin: 0 auto;
    width: 200px;
    height: max-content;
    background:#db803e;
    border-radius: 0.7rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    display: none;
    transition: display 2.5s ease; /* Smooth transition effect */
    
    
}

.prod-cart p{
    font-size: 0.8rem;
    font: bold;
    font-family:'Lucida Sans Unicode';
    color: white;
}

.prod-cart span{
    font-size: 0.8rem;
    font-family:'Lucida Sans Unicode';
}

.prod-cart button[type="button"] {
    background: #353230;
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    color: white;
    font: lighter;
    font-family: 'Lucida Sans';
    cursor: pointer;
    transition: 0.5s;
}

.prod-cart button[type="button"]:hover {
    background: white;
    color: #353230;
    transition: 0.5s;
}


#quantity{
    margin-left: 2rem;
}

#prod-cart-name{
    margin-left: 2rem;
    color: #1f1e1e;
    font-family:'Lucida Sans Unicode';
}

#price-display{
    margin-left: 4.2rem;
    color: #1f1e1e;
    font-family:'Lucida Grande';
    font: bolder;
}

#delivery-fee{
    margin-left: 1rem;
    color: #1f1e1e;
    font-family:'Lucida Grande';
    font: bolder;
}

.minus,
.plus{
    color: rgb(240, 240, 240);
    background:#652e07;
    border-radius: 20%;
    border: none;
    transition: 1s;
    cursor: pointer;
}


.minus:hover{
    background: #ffffff;
    color: #333;
    transition: 1s;
}


.plus:hover{
    background: #ffffff;
    color: #333;
    transition: 1s;
}


    
/* Newsletter*/

.newsletter {
    background-color: #8b4513;
    padding: 2rem;
    margin-bottom: 0rem;
}

.newsletter h2 {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
}

.newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter label {
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: 'Lucida Sans Unicode';
}

.newsletter input[type="email"] {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 1rem;
}

.newsletter button[type="submit"] {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: white;
    color: #8b4513;
    font-size: 1rem;
    cursor: pointer;
    transition: 1s;
    font-family: 'Lucida Sans Unicode';
}

.newsletter button:hover{
    background: #db803e;
    color: white;
    transition: 1s;
}


footer {
    background-color: #db803e;
    padding: 2rem;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline-block; /* Display list items horizontally */
    margin: 0 3rem; /* Adjust spacing between icons */
}

footer ul li a {
    display: inline-block; /* Make anchor tags inline-block to center properly */
    background-color: white ;
    transition: 1s;
    color:#8b4513;
    padding-left: 0.78rem;
    padding-right: 0.75rem;
    padding-bottom: 0.35rem;
    padding-top: 0.35rem;
    border-radius: 0.4rem;
}

footer ul li a:hover {
    color: white;
    background-color: #652e07; /* Change background color on hover */
}

footer p {
    margin-top: 4.5rem; /* Adjust margin between icons and copyright text */
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
}


/* our-mission.html page styling*/

.our-mission-containter{
    margin:0 auto;
    padding:3rem 2rem;
    padding-top: 1rem;
    padding-bottom: 7.5rem;
    background-color: #8b3f0925;
    width: 45rem;
    border: solid 1px #8b4513;
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    margin-right: 12rem;
}

.our-mission-title{
    font-size: 2rem;
    color: #6e3308;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
}

.our-mission-containter p{
    text-align: center;
    font-size: 0.87rem;
    margin-bottom: 8px;
    font-style: italic;
    font-family: 'Lucida Sans Unicode';
}

.testimonials{
    margin:0 auto;
    padding:3rem 2rem;
    padding-top: 1rem;
    padding-bottom: 7.5rem;
    background-color: #8b3f0925;
    width: 45rem;
    border: solid 1px #8b4513;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 7rem;
}

.testimonials p{
    text-align: center;
    font-size: 0.87rem;
    margin-bottom: 8px;
    font-style: italic;
    font-family: 'Lucida Sans Unicode';
}



/*Contact.html*/
.details{
    display: inline-block;
    margin: 0 31.5%;
    
}
.details .admin{
    background-color: #db803e;
    width: 30rem;
    border: none;
    border-radius: 0.40rem;
    padding: 2rem 2rem 2rem 2rem;
    justify-content: center;
    
}

.details h1{
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Lucida Sans Unicode';
    font-size: 1.4rem;
}

.details p{
    text-align: center;
    text-transform: uppercase;
    text-decoration: wavy;
    font-family: 'Lucida Sans Unicode';
    font-size: smaller;
}

.admin p{
    color: rgb(255, 255, 255);
}

.whatsapp-box{
    justify-content: center;
    align-items: center;
    display: flex;
}

.whatsapp-box .whatsapp-c{
    width: fit-content;
    height: 2.5rem;
    border: none;
    border-radius: 0.71rem;
    background: white;
    cursor: pointer;
    font-family:'Lucida Sans Unicode';
    font-weight: lighter;
    transition: 1s; 
}

.whatsapp-box .whatsapp-c:hover{
    background:rgb(91, 230, 91);
    color: white;
    transition: 1s;
}

.whatsapp-box i{
    color: rgb(25, 184, 0);
}

.details .admin img{
    width: 14rem;
    height: 14rem;
    border-radius: 10%;
    margin-left: 25%;
}

.details .siya{
    background-color: #8c4a1c;
    width: 30rem;
    border: none;
    border-radius: 0.40rem;
    padding: 2rem 2rem 2rem 2rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.details .siya img{
    width: 11rem;
    height: 13rem;
    border-radius: 10%;
    margin-left: 32%;

}

/*About.html*/

.about-containter{
    margin:0 auto;
    padding:3rem 2rem;
    padding-top: 1rem;
    padding-bottom: 7.5rem;
    background-color: #8b3f0925;
    width: 45rem;
    border: solid 1px #8b4513;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
}

.about-title{
    font-size: 2rem;
    color: #6e3308;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
}

.about-containter p{
    text-align: center;
    font-size: 0.87rem;
    margin-bottom: 8px;
    font-style: italic;
    font-family: 'Lucida Sans Unicode';
}

/* News.html */

.news-containter{
    margin:0 auto;
    padding:3rem 2rem;
    padding-top: 0.75rem;
    padding-bottom: 4.5rem;
    background-color: #8b3f0925;
    width: 45rem;
    border: solid 1px #8b4513;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
}

.news-heading {
    font-size: 2rem;
    color: #6e3308;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
}

.update{
    text-align: center;
    text-transform: uppercase;
    color: #878787;
    font-family: 'Lucida Sans Unicode';
    font-size: 1.4rem;
}

.news-containter p{
    text-align: center;
    font-size: 0.87rem;
    margin-bottom: 8px;
    font-style: italic;
    font-family: 'Lucida Sans Unicode';
}


/* For smaller screens */
@media only screen and (max-width: 600px) {
    /* Adjustments for header */
    header {
        font-size: 1.2rem;
    }

    /* Adjustments for logo */
    .logo {
        width: 25rem;
        height: 25rem;
        margin-left: 5.5rem;
    }

    /* Adjustments for navigation */
    nav {
        padding-top: 1rem;
        padding-bottom: 5rem;
        margin-left: 12rem;
        width: 0.9rem;
        flex-wrap: wrap;
    }

    nav ul {
        gap: 1.8rem;
        font-size: smaller;
    }

    /* Adjustments for hero sections */

    /*Index.html*/
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 40rem;
        padding: 10px;

    }

    .hero img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }

    /*Our-Mission.html*/

    .our-mission-containter{
        width: 100%;
        border: #ffffff;
        max-width:92.5%;
        margin-left: 1rem;
    }

    .testimonials{
        width: 100%;
        margin-left: -0.1rem;
        border: #ffffff;
        max-width:92.5%;
        margin-left: 1rem;
    }

    /*Contact.html*/

    .details .admin{
        margin-left: -5rem;
        width: 18rem;
        display:inline-block;
    }

    .details .admin img{
        justify-content: center;
        margin: 2rem;
    }


    .details .siya{
        margin-left: -5rem;
        width: 18rem;
        display:inline-block;
    }

    .details .siya img{
        justify-content: center;
        margin: 4rem;
    }


    /* Adjustments for product section */
    .container {
        padding-top: 10rem;
        padding-bottom: 5rem;
    }

    .container .title {
        font-size: 2.5rem;
        padding-bottom: 3rem;
    }

    .container .products-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-left: 0;
    }

    .container .products-container .product img {
        width: 100%;
        height: auto;
    }

    .container .products-container .product h3 {
        font-size: 1.5rem;
    }

    .product p {
        font-size: 0.8rem;
    }

    .container .products-container .product .price {
        font-size: 1.5rem;
    }

    /* Adjustments for newsletter */
    .newsletter{
        width: 100%;
    }
    .newsletter h2 {
        font-size: 1.5rem;
    }

    .newsletter input[type="email"] {
        width: 100%;
        max-width: 300px;
    }

    /* Adjustments for footer */

    footer{
        width: 100%;
    }
    footer ul li {
        margin: 0 1.5rem;
    }

    footer p {
        margin-top: 2.5rem;
        font-size: 1rem;
    }
}
